* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111827;
  color: white;
  font-family: Arial, sans-serif;
}

nav {
  background: #1f2937;
  padding: 20px;
}

nav h1 {
  color: #60a5fa;
}

.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero p {
  color: #cbd5e1;
  margin-bottom: 25px;
}

#searchBar {
  width: 350px;
  max-width: 90%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: #1f2937;
  padding: 20px;
  border-radius: 12px;
  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #60a5fa;
  margin-bottom: 10px;
}
